<div class="form-container">
  <h2>Sign up</h2>
  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <div class="input-container">
      <label for="">Username</label
      ><input
        formControlName="username"
        type="text"
        placeholder="Exemple : xxDarkShadow"
      />
    </div>
    <div class="input-container">
      <label for="">Password</label
      ><input formControlName="password" type="password" />
    </div>
    <div class="input-container">
      <label for="">Confirm Password</label
      ><input formControlName="passwordConfirm" type="password" />
    </div>
    <button type="submit">Sign up</button>
  </form>
  <div class="form-footer">
    <span>Already have an account ? </span>
    <span class="link" routerLink="/login">Login</span>
  </div>
</div>
