<div class="form-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="input-container">
      <label for="">Username</label
      ><input
        formControlName="username"
        type="text"
        placeholder="Exemple : xxDarkShadow"
      />
      <div class="form-error"  *ngIf="isFieldInvalid('username')" >{{getErrorMessage("username")}}</div>
    </div>
    <div class="input-container">
      <label for="">Password</label
      ><input formControlName="password" type="password" />
      <div class="form-error"  *ngIf="isFieldInvalid('username')" >{{getErrorMessage("password")}}</div>
    </div>
    <button type="submit">Login</button>
  </form>
  <div class="form-footer">
    <span>Don't have an account yet ? </span>
    <span class="link" routerLink="/signup">Sign up</span>
  </div>
</div>
