.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  --navbar-height: 3rem;
  --msg-form-height: 3.5rem;
}

.max-width {
  width: 100%;
  max-width: 70rem;
}

.navbar-container {
  background-color: var(--main-clr);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  margin-inline: auto;
  height: var(--navbar-height);
}

.navbar form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar form button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input-container {
  width: 20rem;
  padding-left: 0.3rem;
  background-color: var(--contrast-clr);
  height: var(--control-height);
  border-radius: var(--control-radius);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.search-icon {
  display: flex;
}

.input-container > input {
  height: 100%;
  flex: 1;
  padding-left: 0.2rem;
  border: none;
  background-color: none;
  outline: none;
}

.content-container {
  margin-inline: auto;
  flex: 1;
  display: flex;
}

.left {
  width: 12rem;
}

.friend {
  height: 3rem;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  padding-inline: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  border-bottom: 1px solid rgba(41, 43, 48, 0.325);
}

.friend:hover,
.selected {
  background-color: rgba(49, 55, 87, 0.325);
}

.friend .icon {
  background-color: pink;
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--contrast-clr);
  background-color: var(--secondary-clr);
}

.friend .username {
  font-size: 1.1rem;
  font-weight: 500;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right .messages-container {
  border-left: 2px solid rgba(41, 43, 48, 0.325);
  height: calc(100vh - (var(--msg-form-height) + var(--navbar-height)));
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
}

.messages-container * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
  width: 1px;
  line-height: 1px;
  font-size: 1px;
  color: var(--contrast-clr);
}

.right .messages-container .message {
  border-radius: 1rem;
  max-width: 20rem;
  /* width: 100%; */
  width: fit-content;
  padding: 0.7rem;
  padding-inline: 1.1rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.send {
  background-color: var(--main-clr);
  margin-left: auto;
  color: var(--contrast-clr);
  border-top-right-radius: 0.3rem !important;
}

.receive {
  background-color: rgb(184, 187, 214);
  border-top-left-radius: 0.3rem !important;
}

.message + .message {
  margin-top: 2rem;
}

.receive + .receive,
.send + .send {
  margin-top: 0.2rem;
}

/* .send + .send {
  border-top-right-radius: 0.3rem !important;
} */

.send:has(+ .send) {
  border-bottom-right-radius: 0.3rem !important;
}

/* .receive + .receive {
  border-top-left-radius: 0.3rem !important;
} */

.receive:has(+ .receive) {
  border-bottom-left-radius: 0.3rem !important;
}

.right > form {
  background-color: var(--secondary-clr);
  height: var(--msg-form-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  gap: 1rem;
}

.right > form > input {
  background-color: var(--contrast-clr);
  height: var(--control-height);
  border-radius: var(--control-radius);
  flex: 1;
  max-width: 30rem;
  padding-left: 0.5rem;
  border: none;
}

.field-container {
  display: inline-block;
  width: 20rem;
  position: relative;
}

.field-container > .search-results {
  width: inherit;
  position: absolute;
  background-color: rgb(216, 207, 207);
}

.search-results > .search-result {
  cursor: pointer;
  padding: 1rem;
  font-weight: 500;
}

/* .search-result + .search-result {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
} */

.search-result:nth-child(n + 2) {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.search-results > .search-result:hover {
  background-color: rgba(49, 55, 87, 0.325);
}

.container {
  display: inline-block;
  position: relative;
  top: -1px;
  left: 3px;
}
.dot {
  height: 4px;
  width: 4px;
  border-radius: 100%;
  display: inline-block;
  background-color: #5c5e69;
  animation: 1.2s typing-dot ease-in-out infinite;
}
.dot:nth-of-type(2) {
  animation-delay: 0.15s;
  margin-left: 3px;
}
.dot:nth-of-type(3) {
  animation-delay: 0.25s;
  margin-left: 3px;
}
@keyframes typing-dot {
  15% {
    transform: translateY(-35%);
    opacity: 0.5;
  }
  30% {
    transform: translateY(0%);
    opacity: 1;
  }
}
